@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,900&display=swap');

html,
body {
    font-family: 'Source Sans Pro', 'Arial', sans-serif;
}

.container {
    max-width: 1400px;
    margin: auto;
    padding: 50px 4%;
}

img {
    max-width: 100%;
}

p,
li {
    line-height: 1.6;
}